
body {
    font-family: Arial, sans-serif;
    background-color: rgb(58, 58, 58);
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
}

nav {
    background-color: #9bcfff;
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #ffe294;
    font-weight: bold;
}

nav a:hover {
    color: rgb(0, 0, 0);
}

.main-content {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 25%;
    background-color: #194c8f;
    padding: 10px;
}

.content {
    width: 75%;
    padding: 10px;
}

footer {
    background-color: lightblue;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

img {
    max-width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
